.card {
  padding: 10px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px #0000001a;
  margin-bottom: 10px;
  border-radius: 8px;
}
.contactInfoWrappper {
  display: flex;
  justify-content: space-around;
  gap: 4px;
}

.contactInfo {
  width: 140px;
  text-align: left;
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.contactBtn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactBtn:hover {
  background-color: #c82333;
}
